@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Work+Sans:wght@200;300;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    /* background-color: darkred; */
    
}
header{
    height: 100vh;
    background: url(img/2.jpg) no-repeat ;
    background-size: cover;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 999;


}
.content img{
    margin-left: 50px;
}
.content ul li{
    display: inline-block;
    padding: 15px;
    margin-right: 50px;
}
ul{
    list-style: none;

}
.content a{
    text-decoration: none;
    color: white;

}
.content a:hover{
    border-bottom: 2px solid red;
}
.ccontent{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
}

.ccontent h2{
    text-align: center;
    font-weight: 700;
    color: darkred;
    letter-spacing: 2px;
    padding: 8px 0;
}
.ccontent h2 span{
    color: lightslategray;
    font-weight: 500;
    font-size: 20px;
}
.ccontent p{
    color: green;
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 20px;
    margin: 10px;
}
.ccontent .button{
    
}
.button a{
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    background-color: darkolivegreen;
    border-radius: 15px;
    padding: 10px;
    transition: 0.9s;
}
.button a:hover{
    background: darkred;
}
.button:hover{
    
    transform: scale(1.1);
    
}
.about{
    margin-right: 30px;
}

.about h2{
    margin-top: 30px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 900;
    color: darkred;
    font-size: 23px;
    margin-bottom: 4px;

}
.about .p{
    text-align: center;
    font-size: 18px;
    /* letter-spacing: 1px; */
    color: green;

}
.container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.iicon{
    width: 50%;
    /* overflow: hidden; */
    padding: 40px;
    margin-left: 30px;

}
.iicon p{
    /* text-align: center; */
    letter-spacing: 1px;
    color: darkgray;
    margin-bottom: 20px;
}
.iicon a{
    /* text-align: center; */
    text-decoration: none;
    background-color: darkred;
    color: white;
    padding: 10px;
    border-radius: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.9s;

}
.iicon a:hover{
    /* transform: scale(1.1); */
    background-color: green;
}
#Menu{
    background-color:rgb(33, 41, 49);
    height: 100vh;
}
.cccontent h2{
    text-align: center;
    color:gold;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 7px;
    padding-top: 50px;
    font-size: 32px;
}
.cccontent p{
    text-align: center;
    color: white;
}
.ccontainer{
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    justify-content:center;
    align-items: center;
    margin-top: 20px;
}
.offer1 , .offer2 , .offer3{
    width: 30%;
    overflow: hidden;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
p .price{
    color: gold;
}

.Menu1 .titl{
    text-align: center;
    font-weight: 600;
    font-size: 33px;
    letter-spacing: 1px;
    margin-top: 25px;
    margin-bottom: 8px;

}
.Menu1 .titl1{
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;

}
.our-Menu{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.part1{
    width: 50%;

}
.part11{
    display: flex;
    justify-content: center;

}
.part11 img{
    margin: 30px;
    /* text-align: center; */
    /* padding-top: 10px; */
    margin-top: 20px;
}
.part111 .title3{
    display: inline-block;
}
.part111 .title4{
    /* position: calc(45%); */
    display: inline;
}
.part1111{
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
}
.part2{
    margin: 0 20px;
}
.part1111 .title3{
    text-transform: uppercase;
}
.part1111 .title4{
    color: gold;
}
.Menu1{
    text-align: center;
}
.Menu1 a{
    background-color: gold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    color: white;
    border-radius: 25px;
    letter-spacing: 1px;
    /* margin: 15px; */
    margin-bottom: 15px;
    cursor:pointer ;
}
.container9{
    width: 100%;
    background:url(img/background.jpeg);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container91{
    width: 25%;
    padding: 30px;
    margin: 30px;
    text-align: center;
}
.container91 img{
    width: 80px;
    color: white;
    
}
.container91 h2 , .p1{
    color: white;
}
.gallery1{
    background: url(img/background\ Gallery.jpg);
    height: 100vh;
    padding-top: 30px;
}

.gallery1 h2{
    text-align: center;
    margin: 30px 0;
    /* padding-top: 30px; */
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 30px;
}
.gallery2{
    /* width: 100%; */
    /* display: flex;
    justify-content: space-between; */
    /* align-items: center; */
}
.gallery-img1{
    display: flex;
    justify-content: center;
}
.gallery-img2{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.gallery-img1 img{
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.gallery-img2 img{
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.contact{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 30px 0;
}
.address , .contact-part2{
    margin-top: 30px;
}
.contact-part1{
    width: 50%;
}
.address h2 , .Social h3 , .time-work h2{
    text-transform: uppercase;
    color: darkred;
    /* margin: 30px; */
    margin-bottom: 15px;
}
.address a , .time-work a , .Social a{
    display: inline;
    margin-right: 10px;
    color: slategray;
    font-size: 18px;
}
.address p , .time-work p{
    display: inline;
    margin-left: 10px;
}
.time-work{
    margin: 30px 0;
}
.faild input , textarea{
    width: 100%;
    padding: 15px 8px;
    border: none;
    background-color:khaki;
    border-radius: 8px;
    color: black;
    letter-spacing: 1px;

}

.contact-part2 .buttonn{
    margin:30px 0 ;
}
.contact-part2 a{
    background-color: darkred;
    color: white;
    padding: 12px;
    margin-top: 30px;
    text-decoration: none;
    border-radius: 18px;
    letter-spacing: 1px;
    
    transition: 0.9s;
    
    
}
.buttonn:hover{
    transform: scale(1.1);
}
/* footer */
.footer1{
    background-color: rgb(33, 41, 49);
}
.footer1 p{
    color: white;
    letter-spacing: 1px;
    padding: 20px;
    text-align: center;
}